<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Profile</title>
  </head>
  <body>
    <div>
      <a href="/home/welcome">Home</a>
      <a href="/logout">Logout</a>
    </div>
    <div>
      <ul>
        <li>
          Update First and Last Name
          <label for="first_name">First Name</label>
          <input type="text" name="first_name">
          <label for="last_name">Last Name</label>
          <input type="text" name="last_name">
          <input type="submit" name="Update">
        </li>
        <li>
          Update Password
          <label for="password">Password</label>
          <input type="password" name="password">
          <input type="submit" name="Update">
        </li>
      </ul>
    </div>
  </body>
</html>
