<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
  </head>
  <body>
    <div>
      <img src="{{ asset('images/tes_logo.png') }}" />
    </div>
    <div class="container">
      <a href="/user/edit">Edit Profile</a>
    </div>
  </body>
</html>
